@CHARSET "UTF-8";

.background, #root-grid-pane  {
    -fx-background-image: url("resource/background-coarse-grid.png");
    -fx-background-repeat: repeat;
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#ta-description {
	-fx-alignment: top-left;
	-fx-text-wrap: true;
	-fx-background-color:
    	rgb(255, 255, 255, 0.3),
    	linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
        rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-text-fill: rgb(255, 255, 255, 0.6);
    -fx-effect: innershadow( gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2 );
}

.titled-pane {
	-fx-text-alignment: center;
	-fx-alignment: top-center;
	-fx-content-display: center;
	-fx-text-fill: #FFFFFF;
	-fx-text-fill: rgb(255, 255, 255, 0.6);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.titled-pane .title, .titled-pane .title:selected, .table-view .column-header, .menu-bar {
	-fx-background-color: linear-gradient( to bottom, repeat, whitesmoke 0% , silver 100% );
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0.2));
}

.titled-pane .content {
	-fx-background-color:
	    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-border-color:
	    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.table-view .column-header {
	-fx-border-color:
	    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#tp-content {
	-fx-background-color: linear-gradient( to bottom, repeat, whitesmoke 0% , silver 100% );
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.label {
    -fx-text-fill: rgb(255, 255, 255, 0.6);
    /*-fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );*/
}

.context-menu {
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}


.text-field, .text-area {
	-fx-background-color:
    	rgb(255, 255, 255, 0.3),
    	linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
        rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    /*-fx-text-fill: rgb(255, 255, 255, 0.6);*/
    -fx-effect: innershadow( gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2 );
}

.text-field:focused, .text-area:focused {
	 -fx-background-color:
    	rgb(235, 235, 235, 0.5),
        rgb(0, 0, 0, 0.4),
        rgb(255, 255, 255);
}