@CHARSET "UTF-8";

#dialog {
	-fx-background-image: url("resource/background-coarse-grid.png");
	-fx-background-repeat: repeat;
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#areaTitle {
    -fx-font-size: 16;
    -fx-text-fill: rgb(255, 255, 255, 0.6);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.label {
    -fx-text-fill: rgb(255, 255, 255, 0.6);
    /*-fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );*/
}

.text-field, .text-area {
	-fx-background-color:
    	rgb(255, 255, 255, 0.3),
    	linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
        rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    /*-fx-text-fill: rgb(255, 255, 255, 0.6);*/
    -fx-effect: innershadow( gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2 );
}

.text-field:focused, .text-area:focused {
	 -fx-background-color:
    	rgb(235, 235, 235, 0.5),
        rgb(0, 0, 0, 0.4),
        rgb(255, 255, 255);
}

.context-menu {
	-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}